image: Visual Studio 2022

platform:
  - x64

environment:
  nodejs_version: "20"
  npm_config_msvs_version: "2022"

install:
  # Install Node.js
  - ps: Install-Product node $env:nodejs_version
  
  # Install Windows SDK and build tools
  - choco install windows-sdk-10-version-2004-all -y
  
  # Install dependencies
  - npm install --legacy-peer-deps

build_script:
  - npm run build:win

artifacts:
  - path: dist\*.exe
    name: installer

cache:
  - node_modules
  - '%LOCALAPPDATA%\electron\Cache'
  - '%LOCALAPPDATA%\electron-builder\Cache'
