image: Visual Studio 2022

platform:
  - x64

environment:
  nodejs_version: "20"

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

build_script:
  - npm run build:win

artifacts:
  - path: dist\*.exe
    name: installer

cache:
  - node_modules
